* {
    padding: 0px;
    margin: 0px auto;
    font-family: Helvetica;
}

body {
    width: 100%;
}

h1 {
    display: block;
    text-align: center;
}

img {
    height: 300px;
    width: 400px;
    display: inline-block;
}

#pusheen {
    width: 100%;
}